.counter_widget_span {
    position:absolute;
    margin-top: 1px;
    color:#4c89d4;
    margin-left:2px;

}

.o_list_view .counter_wiget_list_edit_span{
    position:absolute;
    right:2px;
}

.o_list_view .counter_wiget_list_input {
    width:80%!important;
    margin-top: -1px;
}




